{% extends "base.html" %}
{% load static %}

{% block title %}My Blog{% endblock %}

{% block navcontent %}
    {% if user.is_authenticated %}
    <p class="navbar-brand">Hi {{ user.email }}! &nbsp</p> 

    <form method="POST" action="{% url 'logout' %}" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-link navbar-brand" style="padding: 0; text-decoration: none;">Log Out</button>
    </form>
    
    {% else %}
        <a  class="navbar-brand" href="{% url 'login' %}">Log In</a>
        <a  class="navbar-brand" href="{% url 'signup' %}">Sign Up</a>

    {% endif %}

    
{% endblock navcontent %}

{% block content %}
    <header class="masthead" style="background-image: url('{% static bgimage %}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <main class="mb-4">
                            <div class="container px-4 px-lg-5">
                                <div class="site-heading">
                                    <h1>Tech Insights</h1>
                                    <span class="subheading">Your Source for the Latest in Technology and Innovation</span>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block postheading %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {% if user.is_authenticated and user.is_staff %}
                    <div class="mb-4">
                        <a class="btn btn-primary text-uppercase" href="{% url 'add_post' %}">Add Post</a>
                    </div>
                {% endif %}

                {% for post in posts %}
                    <div class="post-preview">
                        <a href="{% url 'blog_post_detail' post.created_at.year post.created_at.month post.created_at.day post.slug %}">
                            <h2 class="post-title">{{ post.title }}</h2>
                            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">{{ post.author.username }}</a>
                            on {{ post.created_at|date:"F j, Y" }}
                        </p>
                    </div>
                    <hr class="my-4" />
                {% endfor %}
                
                <div class="d-flex justify-content-end mb-4">
                    <a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}